.char {
    color: black;
    padding: 0 2px;
    margin: 0 2px;
}

.wrap {
    overflow-wrap: break-word;
}

.has-pushed-down-footer-child {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.has-pushed-down-footer-child > section:last-of-type {
    flex-grow: 1;
}
