{{ define "base" }}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>{{ template "title" . }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#0073A5" />
    <meta name="Description" content="{{ template "description" . }}" />
    <link rel="canonical" href="https://invisible-characters.com/{{ template "canonical" .}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.4/css/bulma.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-77L9419NRL"></script>
    <script>
        window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-77L9419NRL');
    </script>
</head>
<body class="has-pushed-down-footer-child">
    <nav class="navbar is-link">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title has-text-white">Invisible Characters</h1>
                </a>
            </div>
            <div class="navbar-item">
                <h2 class="subtitle has-text-white">{{ template "title" . }}</h2>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/view.html" title="View and decode invisible, non-printable Unicode characters">
                            <strong>Decoder Tool</strong>
                        </a>
                        <button class="button" id="theme-button" title="Switch between light and dark mode">
                            <span class="icon">
                                <i class="fa-solid fa-circle-half-stroke"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        {{ template "content" . }}
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <a href="/"><strong>Invisible Characters</strong></a> by <a href="https://florian-pigorsch.de">Florian Pigorsch</a>
                -
                <a href="mailto:mail@invisible-characters.com">Contact</a>
                -
                <a href="https://github.com/flopp/invisible-characters">Github</a>
                -
                <a href="legal.html">Legal/Privacy</a>
            </p>
            <p>
                <a href="https://freiburg.run" title="Laufveranstaltungen in Freiburg (Marathon, Halbmarathon, 10km, 5km)">Laufveranstaltungen in Freiburg</a>
                -
                <a href="https://freiburg.rfit" title="Fitness-Locations in Freiburg (CrossFit, Calisthenics, Yoga)">Fitness-Locations in Freiburg</a>
                -
                <a href="https://socialrunclubs.de" title="Social Run Clubs in Deutschland">Social Run Clubs in Deutschland</a>
            </p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var clipboard = new ClipboardJS('.copy-button');
        clipboard.on('success', function (e) {
            e.trigger.classList.add("is-success");
            setTimeout(function () {
                e.trigger.classList.remove("is-success");
            }, 500);
        });
        clipboard.on('error', function (e) {
            console.log(e);
            e.trigger.classList.add("is-danger");
            setTimeout(function () {
                e.trigger.classList.remove("is-danger");
            }, 500);
        });

        function switchTheme(theme) {
            document.documentElement.setAttribute('data-theme', theme);
            localStorage.setItem('theme', theme);
        }

        if (localStorage.getItem('theme') === 'dark') {
            switchTheme('dark');
        } else if (localStorage.getItem('theme') === 'light') {
            switchTheme('light');
        }

        document.getElementById('theme-button').addEventListener('click', () => {
            const currentTheme = document.documentElement.getAttribute('data-theme');
            if (currentTheme === 'dark') {
                switchTheme("light");
            } else if (currentTheme === 'light') {
                switchTheme("dark");
            } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                switchTheme("light");
            } else {
                switchTheme("dark");
            }
        });
    </script>
</body>{{ end }}