{{ define "canonical" }}{{.Character.Url}}{{ end }}
{{ define "title" }}U+{{.Character.Code}} {{.Character.Name}}{{ end }}
{{ define "description" }}U+{{.Character.Code}} {{.Character.Name}}{{ end }}

{{ define "content" }}
<section class="section">
    <table class="table">
        <tr>
            <td>Name</td>
            <td>{{.Character.Name}}</td>
        </tr>
        <tr>
            <td>Codepoint</td>
            <td>U+{{.Character.Code}}</td>
        </tr>
        {{if .Character.Description}}
        <tr>
            <td>Description</td>
            <td>{{.Character.Description}}</td>
        </tr>
        {{end}}
        <tr>
            <td>Copy to the clipboard</td>
            <td>
                <button class="button copy-button" data-clipboard-text="{{.Character.Char}}">
                    <span>Copy</span>
                    <span class="icon is-small"><i class="fas fa-copy"></i></span>
                </button>
            </td>
        </tr>
    </table>
</section>
{{ end }}
