{{ define "canonical" }}empty-instagram-comment.html{{ end }}
{{ define "title" }}How to send an empty Instagram comment{{ end }}
{{ define "description" }}How to send an empty Instagram comment - Invisible Characters{{ end }}

{{ define "content" }}
<section class="section">
    <h3 class="title">How to send an empty Instagram comment?</h3>
    <p>
        <a href="https://www.instagram.com" target=_blank>Instagram</a> doesn't allow its users to post empty comments & messages, or comments that only contain regular space characters.
    </p>
    <p>
        To post an empty Instagram comment, you can just use the invisible {{charlink "200B"}} character!
        Click the "Copy" button below which copies the character into your clipboard, then paste into Instagram's comment field, and hit the "Send" button.
        Done!
    </p>
    <div class="field">
        <p class="control">
            <button class="button copy-button is-primary" data-clipboard-text="​">
                <span>Copy</span>
                <span class="icon is-small"><i class="fas fa-copy"></i></span>
            </button>
        </p>
    </div>
    <p>
        This works both in Instagram's smartphone app and in the web client.
    </p>
</section>
{{ end }}