{{ define "canonical" }}empty-whatsapp.html{{ end }}
{{ define "title" }}Send an empty Whatsapp message{{ end }}
{{ define "description" }}Send an empty Whatsapp message - Invisible Characters{{ end }}

{{ define "content" }}
<section class="section">
    <h3 class="title">Send an empty Whatsapp message</h3>
    <p>
        <a href="https://www.whatsapp.com" target=_blank>Whatsapp</a> doesn't allow its users to post empty messages, or messages that only contain regular space characters.
    </p>
    <p>
        To post an empty message, you can just use the invisible <a href="200E-LEFT-TO-RIGHT-MARK.html">U+200E LEFT-TO-RIGHT MARK</a> character!
        Click the "Copy" button below which copies the character into your clipboard, then paste into Twitter's tweet editor, and hit the "Send" button.
        Done!
    </p>
    <div class="field">
        <p class="control">
            <button class="button copy-button" data-clipboard-text="‎">
                <span>Copy</span>
                <span class="icon is-small"><i class="fas fa-copy"></i></span>
            </button>
        </p>
    </div>
    <p>
        This works both in Whatsapp's smartphone app and in the web client.
    </p>
</section>
{{ end }}