{{ define "canonical" }}{{ end }}
{{ define "title" }}Group:{{ .Group.Name }}{{ end }}
{{ define "description" }}Unicode character group {{ .Group.Name }}, {{ .Group.Description }} - Invisible Characters{{ end }}

{{ define "content" }}    
<section class="section">
    <div class="container">
        <a class="button is-link mb-4" href="/">Back to List</a>
        
        <h3 class="title">{{ .Group.Name }}</h3>
        <p>{{ .Group.Description }}</p>
        
        <h4 class="title pt-4">Characters in this group</h4>
        <table class="table">
            {{ range .Group.Characters }}
            <tr>
                <td>
                    {{charlink .Code}}
                </td>
                <td>
                    <button class="button copy-button is-primary" data-clipboard-text="{{ .Char }}">
                        <span>Copy</span>
                        <span class="icon is-small">
                            <i class="fas fa-copy"></i>
                        </span>
                    </button>
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
</section>
{{ end }}