{{ define "canonical" }}invisible-tiktok-name.html{{ end }}
{{ define "title" }}Invisible TikTok Nickname{{ end }}
{{ define "description" }}How to make you TikTok nickname invisible - Invisible Characters{{ end }}

{{ define "content" }}
<section class="section">
    <h3 class="title">How to make you TikTok nickname invisible</h3>
    <p>
        <a href="https://www.tiktok.com" target=_blank>TikTok</a> doesn't allow its users to have empty nicknames. If you try to set your nickname to an empty string by using space characters, it will complain: "This nickname is not allowed."
    </p>
    <p>
        To get an empty nickname, you can just use the invisible <a href="FFFC-OBJECT-REPLACEMENT-CHARACTER.html">U+FFFC OBJECT REPLACEMENT CHARACTER</a> character!
        Click the "Copy" button below which copies the character into your clipboard, then paste into TikTok's nickname field in your profile.
        Done!
    </p>
    <div class="field">
        <p class="control">
            <button class="button copy-button" data-clipboard-text="￼">
                <span>Copy</span>
                <span class="icon is-small"><i class="fas fa-copy"></i></span>
            </button>
        </p>
    </div>
</section>
{{ end }}