{{ define "canonical" }}view.html{{ end }}
{{ define "title" }}Decode and view invisible, non-printable Unicode characters{{ end }}
{{ define "description" }}Decode and View invisible, non-printable Unicode characters - Invisible Characters{{ end }}

{{ define "content" }}
<section class="section">
    <h3 class="title">Decode and View invisible, non-printable Unicode characters</h3>
    <p>
        This tool let's you decond and view invisible, non-printable Unicode characters hidden inside of a block of text.
        Just copy and paste your text (which contains invisible, non-printable Unicode characters) into the text box below and click the "View!" button.
        The tool will then show you the invisible characters in the text, along with their Unicode code points and names. The invisible characters will be highlighted in the text, and you can click on them to learn more about them.
    </p>

    <div class="field">
        <label class="label">Your Text</label>
        <div class="control">
            <textarea id="input" class="textarea" placeholder="Insert text to decode"></textarea>
        </div>
    </div>

    <div class="field">
        <p class="control">
            <button id="view-button" class="button is-primary">
                View!
            </a>
            <button id="sample-text" class="button">
                Insert Sample Text
            </a>
            <button id="clear" class="button">
                Clear
            </a>
        </p>
    </div>

    <div class="field">
        <label class="label">Statistics</label>
        <div class="control">
            <ul id="statistics"></ul>
        </div>
    </div>

    <div class="field">
        <label class="label">Annotated Text</label>
        <div class="control">
            <div id="output" class="box wrap"></div>
        </div>
    </div>
</section>

<script>
    var statistics = new Map();
    var invisible_characters = new Map();
    {{ range .Characters }}
    invisible_characters.set("{{ .Code }}", "{{ .Name }}");
    {{ end }}

    function decode(c0, c1) {
        var codepoint = c0;
        if (c1 != 0) {
            codepoint = ((c0 - 0xD800) * 0x400) + (c1 - 0xDC00) + 0x10000;
        }

        var hex = codepoint.toString(16).toUpperCase();
        while (hex.length < 4) {
            hex = "0" + hex;
        }

        var c;
        if (c1 == 0) {
            c = String.fromCodePoint(c0);
        } else {
            c = String.fromCodePoint(c0, c1);
        }

        if (c == "<") {
            return "&lt;"
        } else if (c == ">") {
            return "&gt;"
        } else if (invisible_characters.get(hex) !== undefined) {
            statistics.set(hex, (statistics.get(hex) || 0) + 1);
            var url = hex + "-" + invisible_characters.get(hex).replaceAll(" ", "-") + ".html";
            return "<a class=\"char has-background-primary\" href=\"" + url + "\">U+" + hex + "</a>";
        } else if (/\s/.test(c)) {
            statistics.set(hex, (statistics.get(hex) || 0) + 1);
            return "<span class=\"char has-background-white\">U+" + hex + "</span>";
        }

        return c;
    }

    document.getElementById("view-button").addEventListener('click', function (event) {
        var input = document.getElementById("input").value;
        var output = "";
        var surrogate = 0;
        statistics.clear();
        for (var i = 0; i < input.length; i += 1) {
            var c = input.charCodeAt(i);
            if (surrogate != 0) {
                output += decode(surrogate, c);
                surrogate = 0;
            } else if (c >= 0xD800 && c < 0xDC00) {
                surrogate = c;
            } else {
                output += decode(c, 0);
            }
        }
        document.getElementById("output").innerHTML = output;
        var statisticsUl = document.getElementById("statistics");
        statisticsUl.innerHTML = "";
        statistics.forEach(function (count, hex) {
            var li = document.createElement("li");
            if (invisible_characters.get(hex) !== undefined) {
                var name = invisible_characters.get(hex);
                var url = hex + "-" + name.replaceAll(" ", "-") + ".html";
                li.innerHTML = count + "⨉ <a class=\"char has-background-primary\" href=\"" + url + "\">U+" + hex + " " + name + " </a>";
            } else {
                li.innerHTML = count + "⨉ <span class=\"char has-background-white\">U+" + hex + " </span>";
            }
            statisticsUl.appendChild(li);
        });

        document.getElementById("sample-text").addEventListener('click', function (event) {
            document.getElementById("input").value = "This is a sample text with common invisible characters: \u200B\u200C\u200D\u2060\uFEFF\nHere are some unusual characters: \u3164\u2800\u061c";
            document.getElementById("view-button").click();
        });
        document.getElementById("clear").addEventListener('click', function (event) {
            document.getElementById("input").value = "";
            document.getElementById("view-button").click();
        });
    });
</script>
{{ end }}